<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RWMeshGen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RWMeshGen.Properties.Settings>
            <setting name="shield_distance" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="wall_thickness" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="sensor_inner_radius" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="s0" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="s1" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="s2" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="s3" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="s1_lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="s1_percent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="generate_materials" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generate_spatial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="material_inner" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="material_outer" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="material_tube" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="vertical_sparsity" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="path_last" serializeAs="String">
                <value/>
            </setting>
            <setting name="generate_vtk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="generate_complete_model" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auto_update_preview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="color_fixed_ring" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="color_node" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="color_triangle" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="description" serializeAs="String">
                <value/>
            </setting>
            <setting name="distr_active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_______distr_ro" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_______distr_rs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="distr_count" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="distr_nodes" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="clean_dir" serializeAs="String">
                <value>False</value>
            </setting>
        </RWMeshGen.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
